/* Universal selector */
* {
    border: none;
}
/* Changing the color of the background */
body {
    background-color:#282828;
}

/* Max width */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #32302f;
  font-family: Monospace;
  z-index: 1;
  max-width: 100%;
}

/* Longhand border, margin, and padding notation */
/* Width and height */
/* Relative positioning */
/* Class selector */
.banner {
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Monospace;
  position: relative;
  background-color: #282828;
  z-index: 0;
  border-width: 1px
  margin-top: 0em;
  padding-top: 0em;
}

/* Max width and height*/
.banner-image {
  width: 100%;
  max-height: 50%;
  height: 30%;
  object-fit: cover;
}

/* Three cases of relative unit lengths */
/* Shorthand border, margin, and padding notations*/
/* Text color, text align */
/* Absolute positioning */
.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  margin: 0em;
  padding: 0em;
  border: 0em;
  font-family: Monospace;
  color: #ebdbb2;
}

/* Text decoration */
/* ID Selector */ 
#banner-subtitle {
  text-decoration: underline;
}

/* Element Selector */ 
ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  overflow: hidden;
  background-color: #32302f;
}

li {
  float: right;
}

/* Three cases of absolute unit lengths */
/* Display example 1 */
/* Attribute selector */
li a[href^="#"]{
  display: block;
  color: #a89984;
  text-align: center;
  padding: 14px 16px;
  font-size: 15px;
  text-decoration: none;
}

/* Psuedo-class: hover */
/* Psuedo-class selector */
li a:hover {
  background-color: #3c3836;
}

/* Display example 2*/
/* Selector list */
h3, .obscene {
    display:none;
}

footer {
    color: black;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: Monospace;
    background-color: #282828;
    margin: 0;
}

/* Three grid-related attributes */
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 1px;
    grid-auto-rows: minmax(180px, auto);
    grid-auto-flow: dense;
    padding: 1px;
   
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #504945;
    background-color: #ccc;
    border-radius: 10px;
    text-align: center;
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 2;
    background-color: #928374;
}

.span-3 {
    grid-column-end: span 1;
    grid-row-end: span 1;
    background-color: #a89984;
}

.span-4 {
    grid-column-end: span 1;
    grid-row-end: span 1;
    background-color: #bdae93;
}

.span-5 {
    grid-column-end: span 1;
    grid-row-end: span 1;
    background-color: #7c6f64;
}

.span-6 {
    grid-column-end: span 1;
    grid-row-end: span 1;
    background-color: #665c54;
}

/* Three flex-related attributes */
.flex-container {
  display: flex;
  background-color: #282828;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/* Child combinator */
.flex-container > div {
  background-color: #a89984;
  color: #504945;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

/* Media query */ 
@media all and (max-width: 1000px) {
    .span-2 {
        grid-column-end: span 2;
        grid-row-end: span 2;
        background-color: #cc241d;
    }

    .span-3 {
        grid-column-end: span 1;
        grid-row-end: span 1;
        background-color: #689d6a;
    }

    .span-4 {
        grid-column-end: span 1;
        grid-row-end: span 1;
        background-color: #d79921;
    }

    .span-5 {
        grid-column-end: span 1;
        grid-row-end: span 1;
        background-color: #458588;
    }
    .span-6 {
        grid-column-end: span 1;
        grid-row-end: span 1;
        background-color: #b16286;
    }
}

/* Descendant combinator */
body main {
    color: #a89984;
}

/* General Sibling Combinator*/
main ~ footer {
    color: #a89984;
}

/* Adjacent Sibling Combinator*/
label + label {
    color: #cc241d;
}

/* Element.class Combinator*/
label.cc {
    color: #cc241d;
}
